.grid-overlay-setting .grid-overlay-setting-color-picker {
  width: 60px;
  height: 30px;
}

.grid-overlay-setting .grid-overlay-setting-color-picker-text {
  font-size: 12px;
}

.grid-overlay-setting .dijitTextBox {
  width: 60px;
  margin: 0 2px;
}

.grid-overlay-setting .labelHeaderGridCompCol {
  width: 32%;
}

.grid-overlay-setting .jimu-ellipsis {
  white-space: normal;
}