<div class="esriCTFullHeight">
  <div class="esriCTSettingContainer">
    <div>
      <div class="esriCTWrapper">
        <div class="esriCTLabel" title="${nls.threatTypeSelectLabel}">${nls.threatTypeSelectLabel}</div>
        <div class="esriCTDijitControl">
          <div class="esriCTDijitWrapper">
            <select data-dojo-type="jimu/dijit/formSelect" class="SelectStyle esriCTDijitWrapper esriCTThreatInputType esriCTSelectLabelWidth"
              data-dojo-attach-point="threatType" tabindex="0" aria-label="${nls.threatTypeSelectLabel}"></select>
          </div>
        </div>
      </div>
    </div>
    <div class="esriCTWrapper esriCTFullHeight esriCTZonesTableMaxHeight" data-dojo-attach-point="threatZonesTableNode">
    </div>
  </div>
</div>