    #wrapper {
      zoom:1;
      width: 960px;
    }
    #wrapper:before, .toc:before {
      content: "";
      display: table;
    }
    #wrapper:after, .toc:after {
      clear:both;
    }

    .pageheader {
      position: fixed;
      z-index: 100;
      top:0;
      left:0;
      background: #FFFFFF url('banner.jpg') no-repeat 0px 0px;
      height: 90px;
      width: 100%;
      border-bottom: 1px solid #c2c4ba;
    }

    .toc {
      background-color: #e5e6e7;
      position: fixed;
      top:95px;
      z-index: 100;
      clear: left;
      min-width: 29%;
      max-width: 29%;
      width:29%;
      height: 90%;
      overflow-y:auto;
      overflow-x:auto;
    }

    .toc a, .toc a:visited {
      color: #21759B;
    }

    .toc ol {
      border-bottom: 0;
      border-left: 0;
      border-top: 0;
      margin: 0;
      padding: 0;
    }

    .toc ol.toc-level2 {
      margin-left: 1em;
    }

    .toc ol li {
      list-style-type: none;
      line-height: 135%;
      margin-left: 10px;
      margin-bottom: 0.5em;
    }

    .toc ol li:first-child {
      margin-top: 15px; 
    }
    
    .toc ol li.toc-title:not(:first-child) {
      margin-bottom: 5px;
       margin-top: 15px; 
    }
    
    .toc ol li.toc-title:last-child {
        margin-bottom: 30px; 
    }
    
    .toc ol li h3 {
      border-bottom: 1px solid #d8d1c0;
      box-shadow: 0 1px 0 white;
      color: #4d4d4d;
      font-size: 12px;
      font-weight: bold;
      margin: 0;
      text-shadow: 0 1px 0 white;
      text-transform: initial;
    }

    #content {
      position: absolute;

      margin-top: 100px;

      border-bottom: 0;
      border-top: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      clear: both;
      z-index: 1;

      margin-left: 30%;
      width: 68%;
      min-width: 68%;
    }

    #content  div.header {
      margin-top: 0.5em;
    }